#ignore virtual environment
venv

#ignore all photos for *wheres command
wheresRyan_photos
#ignore BROKEN sound files
soundbites
#ignore old code that will just cause confusion
old code

#IDE specific file
.idea

#for connecting to discord and bungie apis
config.json

#google sheets apis
credentials.json
credentials_drive.json
token.pickle
token_drive.pickle

